.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.overlay--active{
    display: block;
}


.modal{
display: none;
position: absolute;
padding: 30px 30px 30px 40px;
background: var(--white);
max-width: 100%;
width: 556px;
height: 371px;
left: 50%;
top: 70%;
transform: translate(-50%, -50%);
border-radius: 5px;
z-index: 101;
}

.modal--active{
    display: block;
}

.modal-login{
    display: none;
    position: absolute;
    padding: 30px 30px 30px 40px;
    background: var(--white);
    max-width: 100%;
    width: 556px;
    height: 316px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 101;
}

.modal-login--active{
    display: block;
}