@import url(../libs/css/normalize.css);
@import url(../css/reset.css);
@import url(../css/fonts.css);
@import url(../css/common.css);
@import url(../css/components/header.css);
@import url(../css/global.css);
@import url(../css/components/section.css);
@import url(../css/components/section__social.css);
@import url(../css/components/footer.css);
@import url(../css/components/modal.css);
@import url(../css/components/modal__login.css);
@import url(../js/index.js);





*,
*:before,
*:after {
    box-sizing: border-box;
}




body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
}

