.footer__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.footer__col {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    transition: color 0.3s linear;
}

.footer__text:hover {
    color: var(--green);
}

.footer__copyright {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    text-align: center;
}

@media screen and (max-width: 865px) {
    .footer__logo{
        padding: 0 5px;
    }

    .footer__col{
        gap: 25px;
    }
}
@media screen and (max-width: 740px) {
    .footer__logo{
        display: none;
    }
    .footer__iner{
        justify-content: space-around;
    }

   
   
   
}

@media screen and (max-width: 580px) {

    .footer__link{
        padding: 5px 5px;
    }
    
    .footer__col{
        gap: 10px;
    }
    .footer__iner{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 340px) {
    .footer__text {
        font-size: 15px;
    }
}
