.section {
   
   
    background: url(../../images/section/background.svg) 0% 37% no-repeat,
                url(../../images/section/section__bg.jpg) 42% 4% no-repeat;
    background-size: cover, auto;
   
               
}

.categories__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: var(--black);
    padding: 74px 0 25px 0;
}

.categories__subtitle {
    font-family: "Inter";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    text-align: center;
    padding-bottom: 35px;
}

.categories__choice {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 70px;
}

.categories__button {
    width: 165px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--brown);
    background: rgba(166, 124, 82, 0.1);
    border: 1px solid var(--brown);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s linear;
}

.categories__button:hover {
    color: var(--green);
    background: rgba(0, 113, 99, 0.1);
    border: 1px solid var(--green);
}

.categories__content {
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
}

.categories__image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0.3s linear;
}
.categories__item {
    position: relative;
    width: 100%;
    background: rgba(0, 113, 99);
    border-radius: 5px;
    cursor: pointer;
}

.categories__item:hover .categories__image {
    opacity: 0.4;
}

.categories__text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--white);
    opacity: 0;
    transition: opacity 0.3s linear;
}

.categories__item:hover .categories__text {
    opacity: 1;
}
