.social__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 95px;
}

.social__title {
    margin-bottom: 30px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: var(--black);
}

.icon {
    width: 40px;
    height: 40px;
    transition: transform 0.5s;
    cursor: pointer;
}

.icon-facebook {
    width: 45px;
    height: 45px;
    transition: transform 0.5s;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.icon-facebook:hover {
    transform: scale(1.2);
}
